
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marcellus&family=Rajdhani:wght@300;400;500;600;700&display=swap');

@keyframes slideshow {
  0%, 19.9% {
    background-image: url('components/images/bg1.jpg'); 
  }
  20%, 39.9% {
    background-image: url('components/images/bg2.jpg'); 
  }
  40%, 59.9% {
    background-image: url('components/images/bg3.jpg'); 
  }
  60%, 79.9% {
    background-image: url('components/images/bg4.jpg');
  }
  80%, 99.9% {
    background-image: url('components/images/bg5.jpg'); 
  }
  100% {
    background-image: url('components/images/bg6.jpg'); 
  }
}

body, html {
  height: 100%;
  margin: 0;
  font-family: Lato, sans-serif;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body {
  height: 100%;
  margin: 0;
  font-family: Lato, sans-serif;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  animation: slideshow 48s infinite;
}

.navbar {
  padding: 10px;
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
  align-items: center;
  max-width: 100%;
  margin: 0 auto;
  padding-bottom: 0;
  background-color: white;
}

.navbar h1 {
  color: rgb(0, 0, 0);
  font-family: Marcellus;
  font-size: 32px;
  justify-content: start;
  margin: 0;
  margin-top: 20px;
  margin-bottom: 20px;
}

.navbar .links {
  margin-left: auto;
  font-family: Lato;
  margin-top: 20px;
  margin-bottom: 20px;
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  padding: 6px;
}

.sign-in-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-size: fill;
  background-position: center;
  background-repeat: no-repeat;
  animation: slideshow 48s infinite;
}

form {
  background-color: white;
  padding: 40px;
  padding-left: 20px;
  /* border-radius: 8px; */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  padding-top: 19px;
}


form p {
  color: rgb(35, 35, 35);
  font-size: 12px;
  font-weight: 400;
  margin-top: 15px;
  margin-bottom: 15px;
}

h1 {
  text-align: start;
  color: rgb(35, 35, 35);
  font-family: Marcellus;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 30px;
}

input[type="email"],
input[type="tel"],
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid rgb(35, 35, 35);
  border-radius: 0.8px;
  border-style: solid;
  border-color: rgb(35, 35, 35);
  font-family: Lato;
  font-weight: 300;
}

input[type="email"]:hover,
input[type="text"]:hover,
input[type="password"]:hover,
input[type="email"]:focus,
input[type="password"]:focus {
  border-color: rgb(205, 171, 110);
}

button {
  width: 321.9px;
  height: 50px;
  padding: 10px;
  background-color: rgb(7, 28, 53);
  color: rgb(255, 255, 255);
  margin-top: 50px;
  cursor: pointer;
  font-family: Lato;
  font-weight: 700;
  font-size: 12px;
  border-style: solid;
  border-color: rgb(7, 28, 53);
  border-width: 0.8px;
  /* box-shadow: 0 0 2px rgb(7, 28, 53); */
}


button:hover {
  border-color: white;
}

.link-to-register {
  padding-top: 20px;
  color: rgb(35, 35, 35);
  font-family: Lato;
  font-weight: 300;
  font-size: 14px;
}

.navbar-mk-admin:hover {
  cursor: pointer;
}

/* Modal */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1050;
}

.modal-content {
  background: whitesmoke;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
  width: auto;
  max-width: 450px;
}

.modal-close-button {
  position: fixed;
  display: none;
  top: 10px;
  right: 10px;
  cursor: pointer;
  border: none;
  background: none;
  font-size: 24px;
  color: #707070;
}

.modal-close-button:hover {
  color: blue;
}

.make-admin-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.make-admin-modal form {
  width: 100%;
  margin: 0;
}

.make-admin-modal h2 {
  font-family: Marcellus;
  font-size: 24px;
  font-weight: 400;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid rgb(35, 35, 35);
  border-radius: 0.8px;
  font-size: 16px;
}

input[type="text"]:hover {
  border-color: rgb(205, 171, 110);
}

.make-admin-button {
  width: 100%;
  padding: 12px;
  margin-top: 20px;
  color: white;
  border-radius: 0.8px;
  cursor: pointer;
  font-family: Lato;
  font-weight: 700;
  font-size: 14px;
  border-style: solid;
  border-color: rgb(7, 28, 53);
  border-width: 0.8px;
}

.make-admin-button:hover {
  border-color: white;
}

.switch-link {
  display: block;
  text-align: center;
  margin-top: 20px;
  color: rgb(7, 28, 53);
  font-family: Lato;
  font-size: 14px;
  text-decoration: none;
}

.switch-link:hover {
  text-decoration: underline;
  color: rgb(205, 171, 110);
}

/* Responsive Styles */
@media (max-width: 768px) {
  .navbar {
    padding-left: 20px;
    padding-right: 20px;
  }

  .navbar h1 {
    font-size: 24px;
  }

  .navbar .links {
    font-size: 14px;
  }

  .navbar a {
    font-size: 14px;
  }

  .sign-in-container {
    padding: 20px;
  }

  form {
    padding: 20px;
    width: 100%;
  }

  h1 {
    font-size: 20px;
  }

  button {
    font-size: 12px;
  }

  .make-admin-modal h2 {
    font-size: 20px;
  }

  .make-admin-button {
    font-size: 12px;
  }

  .switch-link {
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  .navbar {
    padding-left: 10px;
    padding-right: 10px;
  }

  .navbar h1 {
    font-size: 20px;
  }

  .navbar .links {
    font-size: 12px;
  }

  .navbar a {
    font-size: 12px;
  }

  form {
    padding: 10px;
    width: 100%;
  }

  h1 {
    font-size: 18px;
  }

  button {
    font-size: 10px;
  }

  .make-admin-modal h2 {
    font-size: 18px;
  }

  .make-admin-button {
    font-size: 10px;
  }

  .switch-link {
    font-size: 10px;
  }
}

/* Add styling for Fines component */
.Fines {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin: 20px auto;
  max-width: 800px;
}

.Fines h1 {
  color: rgb(35, 35, 35);
  font-family: Marcellus;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 30px;
}

.FineItem {
  display: flex;
  flex-direction: column;
  align-items: start;
  background-color: white;
  padding: 20px;
  margin: 10px 0;
  border: 1px solid rgb(35, 35, 35);
  border-radius: 8px;
  width: 100%;
}

.FineItem h2 {
  font-family: Marcellus;
  font-size: 20px;
  color: rgb(35, 35, 35);
}

.FineItem h3 {
  font-family: Lato;
  font-size: 16px;
  color: rgb(70, 70, 70);
  margin: 5px 0;
}

.FineItem p {
  font-family: Lato;
  font-size: 14px;
  color: rgb(70, 70, 70);
  margin: 5px 0;
}

.FineItem button {
  width: 100px;
  height: 40px;
  background-color: rgb(7, 28, 53);
  color: white;
  border: 1px solid rgb(7, 28, 53);
  border-radius: 8px;
  cursor: pointer;
  font-family: Lato;
  font-weight: 700;
  font-size: 14px;
  margin-top: 10px;
}

.FineItem button:hover {
  background-color: white;
  color: rgb(7, 28, 53);
  border-color: rgb(7, 28, 53);
}

/* Add styling for Maintenance component */
.IssuesAdmin {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin: 20px auto;
  max-width: 800px;
}

.IssuesAdmin h1 {
  color: rgb(35, 35, 35);
  font-family: Marcellus;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 30px;
}

.IssueItem {
  display: flex;
  flex-direction: column;
  align-items: start;
  background-color: white;
  padding: 20px;
  margin: 10px 0;
  border: 1px solid rgb(35, 35, 35);
  border-radius: 8px;
  width: 100%;
}

.IssueHead h2 {
  font-family: Marcellus;
  font-size: 20px;
  color: rgb(35, 35, 35);
}

.IssueHead h3 {
  font-family: Lato;
  font-size: 16px;
  color: rgb(70, 70, 70);
  margin: 5px 0;
}

.IssueHead h4 {
  font-family: Lato;
  font-size: 14px;
  color: rgb(70, 70, 70);
  margin: 5px 0;
}

.Status p {
  font-family: Lato;
  font-size: 14px;
  color: rgb(70, 70, 70);
}

.Status button {
  width: 150px;
  height: 40px;
  background-color: rgb(7, 28, 53);
  color: white;
  border: 1px solid rgb(7, 28, 53);
  border-radius: 8px;
  cursor: pointer;
  font-family: Lato;
  font-weight: 700;
  font-size: 14px;
  margin-top: 10px;
}

.Status button:hover {
  background-color: white;
  color: rgb(7, 28, 53);
  border-color: rgb(7, 28, 53);
}

.IssueItem p {
  font-family: Lato;
  font-size: 14px;
  color: rgb(70, 70, 70);
  margin: 5px 0;
}

.Feedback label {
  font-family: Lato;
  font-size: 14px;
  color: rgb(35, 35, 35);
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.Feedback input {
  width: 100%;
  padding: 10px;
  border: 1px solid rgb(35, 35, 35);
  border-radius: 0.8px;
  margin-top: 5px;
}

.Feedback button {
  width: 150px;
  height: 40px;
  background-color: rgb(7, 28, 53);
  color: white;
  border: 1px solid rgb(7, 28, 53);
  border-radius: 8px;
  cursor: pointer;
  font-family: Lato;
  font-weight: 700;
  font-size: 14px;
  margin-top: 10px;
}

.Feedback button:hover {
  background-color: white;
  color: rgb(7, 28, 53);
  border-color: rgb(7, 28, 53);
}

/* Add styling for Dashboard component */

.dashboard-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin: 20px;
  width: 100%;
  max-width: 1200px;
}

.dashboard-container h1 {
  color: rgb(35, 35, 35);
  font-family: Marcellus;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 30px;
}

.dashboard-links {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.dashboard-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 20px;
  margin: 10px;
  border: 1px solid rgb(35, 35, 35);
  border-radius: 8px;
  text-decoration: none;
  color: rgb(35, 35, 35);
  width: 100%;
  max-width: 200px;
  transition: background-color 0.3s, border-color 0.3s;
}

.dashboard-link:hover {
  background-color: rgb(205, 171, 110);
  border-color: rgb(205, 171, 110);
}

.link-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.link-image {
  font-size: 50px; 
  margin-bottom: 10px;
}

.dashboard-link p {
  font-family: Lato;
  font-size: 16px;
  font-weight: 700;
  margin: 0;
}

.dashboard-container {
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  margin: 20px auto;
}

.welcome-message {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 8px;
}

.dashboard-links {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.dashboard-link {
  flex: 1;
  min-width: 200px;
  text-align: center;
  text-decoration: none;
  color: inherit;
}

.link-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.link-image {
  font-size: 40px;
}

.link-content p {
  margin-top: 10px;
  font-size: 18px;
}



/* Add styling for Profile component */
.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin: 20px auto;
  max-width: 800px;
}

.profile h1 {
  color: rgb(35, 35, 35);
  font-family: Marcellus;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 30px;
}

.profile ul {
  list-style: none;
  padding: 0;
  width: 100%;
}

.profile-item {
  background-color: white;
  padding: 20px;
  margin: 10px 0;
  border: 1px solid rgb(35, 35, 35);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.profile-item h4 {
  font-family: Marcellus;
  font-size: 20px;
  color: rgb(35, 35, 35);
}

.profile-item p {
  font-family: Lato;
  font-size: 14px;
  color: rgb(70, 70, 70);
  margin: 5px 0;
}

/* Add styling for Issues component */
.issues {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin: 20px auto;
  max-width: 800px;
}

.issues h1 {
  color: rgb(35, 35, 35);
  font-family: Marcellus;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 30px;
}

.issues form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  margin-bottom: 20px;
}

.issues input,
.issues textarea,
.issues select {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid rgb(35, 35, 35);
  border-radius: 8px;
}

.issues button {
  padding: 10px;
  margin: 5px 0;
  background-color: rgb(7, 28, 53);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.issues button:hover {
  background-color: rgb(205, 171, 110);
}

.issue-item {
  background-color: white;
  padding: 20px;
  margin: 10px 0;
  border: 1px solid rgb(35, 35, 35);
  border-radius: 8px;
  width: 100%;
}

.issue-item h2 {
  font-family: Marcellus;
  font-size: 20px;
  color: rgb(35, 35, 35);
}

.issue-item p {
  font-family: Lato;
  font-size: 14px;
  color: rgb(70, 70, 70);
  margin: 5px 0;
}

/* Add styling for Maintenance component */
.maintenance {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin: 20px auto;
  max-width: 800px;
}

.maintenance h1 {
  color: rgb(35, 35, 35);
  font-family: Marcellus;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 30px;
}

.maintenance form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  margin-bottom: 20px;
}

.maintenance input,
.maintenance textarea,
.maintenance select {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid rgb(35, 35, 35);
  border-radius: 8px;
}

.maintenance button {
  padding: 10px;
  margin: 5px 0;
  background-color: rgb(7, 28, 53);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.maintenance button:hover {
  background-color: rgb(205, 171, 110);
}

.issue-item {
  background-color: white;
  padding: 20px;
  margin: 10px 0;
  border: 1px solid rgb(35, 35, 35);
  border-radius: 8px;
  width: 100%;
}

.issue-item h2 {
  font-family: Marcellus;
  font-size: 20px;
  color: rgb(35, 35, 35);
}

.issue-item p {
  font-family: Lato;
  font-size: 14px;
  color: rgb(70, 70, 70);
  margin: 5px 0;
}

.issue-item select {
  width: auto;
  padding: 5px;
  margin: 5px 0;
  border: 1px solid rgb(35, 35, 35);
  border-radius: 8px;
}

.issue-item button {
  padding: 5px 10px;
  background-color: rgb(7, 28, 53);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-left: 10px;
}

.issue-item button:hover {
  background-color: rgb(205, 171, 110);
}

/* Add styling for Reports component */
.reports {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin: 20px auto;
  max-width: 800px;
}

.reports h1 {
  color: rgb(35, 35, 35);
  font-family: Marcellus;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 30px;
}

.report-item-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
}

.report-item {
  background-color: white;
  padding: 20px;
  margin: 10px 0;
  border: 1px solid rgb(35, 35, 35);
  border-radius: 8px;
  width: 100%;
}

.report-item h2 {
  font-family: Marcellus;
  font-size: 20px;
  color: rgb(35, 35, 35);
}

.report-item p {
  font-family: Lato;
  font-size: 14px;
  color: rgb(70, 70, 70);
  margin: 5px 0;
}

.report-item-container button {
  padding: 10px;
  margin: 10px 0;
  background-color: rgb(7, 28, 53);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.report-item-container button:hover {
  background-color: rgb(205, 171, 110);
}

.forgot-password-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin: 20px auto;
  max-width: 400px;
}

.forgot-password-container h1 {
  color: rgb(35, 35, 35);
  font-family: Marcellus;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 30px;
}

.forgot-password-container form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.forgot-password-container input {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid rgb(35, 35, 35);
  border-radius: 8px;
}

.forgot-password-container button {
  padding: 10px;
  margin: 5px 0;
  background-color: rgb(7, 28, 53);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.forgot-password-container button:hover {
  background-color: rgb(205, 171, 110);
}

.success-message {
  color: green;
}

.error-message {
  color: red;
}

.issue-fines-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin: 20px auto;
  max-width: 800px;
}

.issue-fines-container h1,
.issue-fines-container h2 {
  color: rgb(35, 35, 35);
  font-family: Marcellus;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 30px;
}

.issue-fines-container form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
}

.issue-fines-container input,
.issue-fines-container select {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid rgb(35, 35, 35);
  border-radius: 8px;
}

.issue-fines-container button {
  padding: 10px;
  margin: 5px 0;
  background-color: rgb(7, 28, 53);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.issue-fines-container button:hover {
  background-color: rgb(205, 171, 110);
}

.fines-list {
  width: 100%;
  max-width: 800px;
}

.fine-item {
  background-color: white;
  padding: 20px;
  margin: 10px 0;
  border: 1px solid rgb(35, 35, 35);
  border-radius: 8px;
}

/* Add styling for Fines component */
.fines-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin: 20px auto;
  max-width: 800px;
}

.fines-container h1 {
  color: rgb(35, 35, 35);
  font-family: Marcellus;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 30px;
}

.fines-list {
  width: 100%;
  max-width: 800px;
}

.fine-item {
  background-color: white;
  padding: 20px;
  margin: 10px 0;
  border: 1px solid rgb(35, 35, 35);
  border-radius: 8px;
}

.fine-item p {
  margin: 5px 0;
}

.fine-item button {
  padding: 10px;
  margin: 5px 0;
  background-color: rgb(7, 28, 53);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.fine-item button:hover {
  background-color: rgb(205, 171, 110);
}

.cam-registration {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  margin: 20px auto;
}

.cam-registration h1 {
  color: #333;
  font-family: 'Lato', sans-serif;
  font-size: 24px;
  margin-bottom: 20px;
}

.input-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
  width: 100%;
}

.input-group label {
  font-size: 16px;
  margin-bottom: 5px;
  color: #555;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.register-button {
  padding: 10px 20px;
  background-color: rgb(7, 28, 53);
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 20px;
}

.register-button:hover {
  background-color: #0056b3;
}

.video-container {
  position: relative;
  width: 100%;
  max-width: 640px;
  margin-bottom: 20px;
}

.captured-image {
  max-width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.face-recognition-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin: 20px auto;
  max-width: 1200px;
}

.face-recognition-video, .face-recognition-canvas {
  border: 1px solid rgb(35, 35, 35);
  border-radius: 8px;
  margin: 10px 0;
}

.face-recognition-video {
  width: 100%;
  max-width: 1000px;
  height: auto;
}

.face-recognition-canvas {
  position: absolute;
}

.fines-container {
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  margin: 20px auto;
}

.fines-list {
  margin-top: 20px;
}

.fine-item {
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
  background-color: #f9f9f9;
}

button {
  background-color: rgb(7, 28, 53);
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  margin-right: 10px;
  border-color: rgb(7, 28, 53);
  font-family: Lato;
  font-weight: 700;
  font-size: 12px;
  border-style: solid;
  border-color: rgb(7, 28, 53);
  border-width: 0.8px;
}

button:hover {
  border-color: white;
}

.notification-container, .notifications-container {
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  margin: 20px auto;
}

.notification-container form, .notifications-container {
  display: flex;
  flex-direction: column;
}

.notification-container label, .notifications-container label {
  margin-top: 10px;
}

.notification-container input, .notifications-container input,
.notification-container textarea, .notifications-container textarea {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-top: 5px;
}

.notification-container button, .notifications-container button {
  background-color: rgb(7, 28, 53);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

.notification-container button:hover, .notifications-container button:hover {
  background-color: rgb(7, 28, 53);
}

.notifications-list {
  margin-top: 20px;
}

.notification-item {
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
  background-color: #f9f9f9;
}











